.App {
  text-align: center;
}

body{
  background-color: rgb(81,163,61);
   font-family: 'Raleway', sans-serif;
}
button{
  background-color: rgb(255,204,51);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
